<div class="jumbotron">
    <h1>Bem vindo @ViewBag.Title</h1>
    <p class="lead">Usuario: @ViewBag.Title, @ViewBag.Teste anos</p>
    <p><input type="text" placeholder="nome" /></p>
    <p><input type="text" placeholder="idade" maxlength="2"/></p>
    <p><button class="btn btn-primary btn-lg" OnClick="click">Ok</button></p>
</div>
<div class="row">

</div>
